<link rel="stylesheet" href="assets/lib/ztree/css/zTreeStyle/metro.css">
<link rel="stylesheet" href="assets/lib/datetimepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="assets/lib/bootstrap-table/bootstrap-table.min.css"/>
<!-- Content -->
<div ng-app="" id='content'>
	<div style="margin:0px;" class="page-header">
	  <h4>类别配置</h4>
	</div>
	<div class="col-lg-3">
		<div style="margin:0px;" class="page-header">
		  <h5>类别树
		  	<div style="display:block;float:right;">
			  	<button class='btn btn-default btn-sm' type='button' ng-click="addForm()">新增</button>
			  	<button class='btn btn-default btn-sm' type='button' ng-click="deleteCategory()">删除</button>
		  	</div>
		  </h5>
		</div>
		<ul id="categoryTree" class="ztree" style="height: 400px; overflow: auto;"></ul>
	</div>
	<div class="col-lg-9">
		<div style="margin:0px;" class="page-header">
		  <h5>类别信息</h5>
		</div>
		<div style="margin-top:10px;">
			<form id="categoryForm" class='form-horizontal'>
				<input name="idCategory" type="hidden" ng-model="category.idCategory" disabled/>
				<div class='form-group'>
					<label class='col-lg-1 control-label'>类别名称</label>
					<div class='col-lg-5'>
						<input class='form-control' name="categoryName" type='text' ng-model="category.categoryName">
					</div>
					<div class='col-lg-6'></div>
				</div>
				<div class='form-group'>
					<label class='col-lg-1 control-label'>类别编码</label>
					<div class='col-lg-5'>
						<input class='form-control' name="categoryCode" type='text' ng-model="category.categoryCode">
					</div>
					<div class='col-lg-6'></div>
				</div>
				<div class='form-group'>
					<label class='col-lg-1 control-label'>类别描述</label>
					<div class="col-lg-5">
						<textarea style="resize:none;" class="form-control" name="categoryDesc" rows="4" ng-model="category.categoryDesc"></textarea>
					</div>
					<div class='col-lg-6'></div>
				</div>
				<div class='form-actions'>
					<input type='submit' class='btn btn-default' ng-click="mergeCategory()" value="保存"></input>
					<input type='reset' class='btn'></input>
				</div>
			</form>
		</div>
	</div>
</div>