<style>
<!--
	.welcome { padding: 15px; background: rgb(241,241,241);}
	.web-data-stat { padding-left:0px; }
	.web-data-stat div label { border-bottom: none; }
	.web-data-stat div label:first-child { border-bottom-left-radius: 0; }
	.web-data-stat div label:last-child { border-bottom-right-radius: 0; }
	.web-data-stat table i { font-size:35px;float:left; }
	.web-data-stat table div { margin-left:50px; }
	.web-data-stat table span { font-size:14px;}
	/* .web-data-stat table p { margin: 0px; } */
	.web-data-stat .page-header { margin: 20px 0px 20px; }
	
	.web-col-stat div label { border-bottom: none; }
	.web-col-stat div label:first-child { border-bottom-left-radius: 0; }
	.web-col-stat div label:last-child { border-bottom-right-radius: 0; }
	.web-col-stat .page-header { margin: 20px 0px 20px; }
-->
</style>
<div ng-app="" id='content'>
	<!-- 欢迎词 -->
	<p class="bg-success welcome">欢迎来到个人博客！</p>
	<div class="col-lg-7">
		<div class="web-data-stat">
			<!-- 网站数据统计 -->
			<div class="page-header">
			  <h4>网站数据统计 </h4>
			</div>
			<div class="btn-group" data-toggle="buttons">
			    <label class="btn btn-default active">
			        <input type="radio" autocomplete="off" checked> 今日
			    </label>
			    <label class="btn btn-default">
			    	<input type="radio" autocomplete="off"> 本周
			    </label>
			    <label class="btn btn-default">
			    	<input type="radio" autocomplete="off"> 本月
			    </label>
			    <label class="btn btn-default">
			    	<input type="radio" autocomplete="off"> 总
			    </label>
			</div>
			<table class="table table-bordered">
				<tr>
					<td>
						<i class="glyphicon glyphicon-eye-open"></i>
						<div>
							<span>500</span>
							<p>访问量</p>
						</div>
					</td>
					<td>
						<i class="glyphicon glyphicon-user"></i>
						<div>
							<span>500</span>
							<p>用户数</p>
						</div>
					</td>
					<td>
						<i class="glyphicon glyphicon-book"></i>
						<div>
							<span>500</span>
							<p>贴子数</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<i class="glyphicon glyphicon-comment"></i>
						<div>
							<span>500</span>
							<p>评论数</p>
						</div>
					</td>
					<td>
						<i class="glyphicon glyphicon-picture"></i>
						<div>
							<span>500</span>
							<p>图片数</p>
						</div>
					</td>
					<td>
						<i class="glyphicon glyphicon-facetime-video"></i>
						<div>
							<span>500</span>
							<p>视频数</p>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="web-access-stat">
			<!-- 网站访问量分析 -->
			<div class="page-header">
			  <h4>网站访问量分析 </h4>
			</div>
			<canvas id="myChart" width="400" height="200"></canvas>
		</div>
	</div>
	<!-- 访问量分析 -->
	<div class="col-lg-5 web-col-stat">
		<!-- 网站数据统计 -->
		<div class="page-header">
		  <h4>栏目访问量统计 </h4>
		</div>
		<div class="btn-group" data-toggle="buttons">
		    <label class="btn btn-default active">
		        <input type="radio" autocomplete="off" checked> 今日
		    </label>
		    <label class="btn btn-default">
		    	<input type="radio" autocomplete="off"> 本周
		    </label>
		    <label class="btn btn-default">
		    	<input type="radio" autocomplete="off"> 本月
		    </label>
		    <label class="btn btn-default">
		    	<input type="radio" autocomplete="off"> 总
		    </label>
		</div>
		<table class="table table-bordered">
			<tr><td>123</td></tr>
			<tr><td>123</td></tr>
			<tr><td>123</td></tr>
			<tr><td>123</td></tr>
			<tr><td>123</td></tr>
			<tr><td>123</td></tr>
			<tr><td>123</td></tr>
			<tr><td>123</td></tr>
			<tr><td>123</td></tr>
			<tr><td>123</td></tr>
		</table>
	</div>
</div>