<style>
<!--
	.welcome { padding: 15px; background: rgb(241,241,241);}
	.web-data-stat { padding-left:0px; }
	.web-data-stat div label { border-bottom: none; }
	.web-data-stat div label:first-child { border-bottom-left-radius: 0; }
	.web-data-stat div label:last-child { border-bottom-right-radius: 0; }
	.web-data-stat table i { font-size:35px;float:left; }
	.web-data-stat table div { margin-left:50px; }
	.web-data-stat table span { font-size:14px;}
	/* .web-data-stat table p { margin: 0px; } */
	.web-data-stat .page-header { margin: 20px 0px 20px; }
	
	.web-col-stat div label { border-bottom: none; }
	.web-col-stat div label:first-child { border-bottom-left-radius: 0; }
	.web-col-stat div label:last-child { border-bottom-right-radius: 0; }
	.web-col-stat .page-header { margin: 20px 0px 20px; }
-->
</style>
<div ng-app="" id='content'>
	<!-- 欢迎词 -->
	<p class="bg-success welcome">欢迎来到简约博客！</p>
	<div class="col-lg-7">
		<div class="web-data-stat">
			<!-- 网站数据统计 -->
			<div class="page-header">
			  <h4>网站数据 </h4>
			</div>
			<div class="btn-group" data-toggle="buttons">
			    <label class="btn btn-default active" ng-click="renderSiteData('day')">
			        <input type="radio" checked> 今日
			    </label>
			    <label class="btn btn-default" ng-click="renderSiteData('week')">
			    	<input type="radio"> 本周
			    </label>
			    <label class="btn btn-default" ng-click="renderSiteData('month')">
			    	<input type="radio"> 本月
			    </label>
			    <label class="btn btn-default" ng-click="renderSiteData('year')">
			    	<input type="radio"> 总
			    </label>
			</div>
			<table class="table table-bordered">
				<tr>
					<td>
						<i class="glyphicon glyphicon-eye-open"></i>
						<div>
							<span>{{statData.accessTotal == null ? 0 : statData.accessTotal}}</span>
							<p>访问量</p>
						</div>
					</td>
					<td>
						<i class="glyphicon glyphicon-user"></i>
						<div>
							<span>{{statData.userTotal == null ? 0 : statData.userTotal}}</span>
							<p>用户数</p>
						</div>
					</td>
					<td>
						<i class="glyphicon glyphicon-book"></i>
						<div>
							<span>{{statData.postTotal == null ? 0 : statData.postTotal}}</span>
							<p>贴子数</p>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<i class="glyphicon glyphicon-comment"></i>
						<div>
							<span>{{statData.commentTotal == null ? 0 : statData.commentTotal}}</span>
							<p>评论数</p>
						</div>
					</td>
					<td>
						<i class="glyphicon glyphicon-picture"></i>
						<div>
							<span>{{statData.pictureTotal ? 0 : statData.pictureTotal}}</span>
							<p>图片数</p>
						</div>
					</td>
					<td>
						<i class="glyphicon glyphicon-facetime-video"></i>
						<div>
							<span>{{statData.videoTotal ? 0 : statData.videoTotal}}</span>
							<p>视频数</p>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="web-access-stat">
			<!-- 网站访问量分析 -->
			<div class="page-header">
			  <h4>网站访问量</h4>
			</div>
			<canvas id="myChart" width="400" height="200"></canvas>
		</div>
	</div>
	<!-- 访问量分析 -->
	<div class="col-lg-5 web-col-stat">
		<!-- 网站数据统计 -->
		<div class="page-header">
		  <h4>栏目访问量</h4>
		</div>
		<div class="btn-group" data-toggle="buttons">
		    <label class="btn btn-default active" ng-click="renderColumnAccess('day')">
		        <input type="radio" autocomplete="off" checked> 今日
		    </label>
		    <label class="btn btn-default" ng-click="renderColumnAccess('week')">
		    	<input type="radio" autocomplete="off"> 本周
		    </label>
		    <label class="btn btn-default" ng-click="renderColumnAccess('month')">
		    	<input type="radio" autocomplete="off"> 本月
		    </label>
		    <label class="btn btn-default" ng-click="renderColumnAccess('year')">
		    	<input type="radio" autocomplete="off"> 总
		    </label>
		</div>
		<table class="table table-bordered">
			<tr><td style="border-right:none;">用户访问量</td><td style="border-left:none;">{{statAccess.userTotal == null ? 0 : statAccess.userTotal}}</td></tr>
			<tr><td style="border-right:none;">角色访问量</td><td style="border-left:none;">{{statAccess.roleTotal == null ? 0 : statAccess.roleTotal}}</td></tr>
			<tr><td style="border-right:none;">菜单访问量</td><td style="border-left:none;">{{statAccess.menuTotal == null ? 0 : statAccess.menuTotal}}</td></tr>
			<tr><td style="border-right:none;">贴子访问量</td><td style="border-left:none;">{{statAccess.postTotal == null ? 0 : statAccess.postTotal}}</td></tr>
			<tr><td style="border-right:none;">评论访问量</td><td style="border-left:none;">{{statAccess.commentTotal == null ? 0 : statAccess.commentTotal}}</td></tr>
			<tr><td style="border-right:none;">配置访问量</td><td style="border-left:none;">{{statAccess.configTotal == null ? 0 : statAccess.configTotal}}</td></tr>
		</table>
	</div>
</div>