<link rel="stylesheet" href="assets/lib/ztree/css/zTreeStyle/metro.css">
<link rel="stylesheet" href="assets/lib/datetimepicker/bootstrap-datetimepicker.min.css">
<link rel="stylesheet" href="assets/lib/bootstrap-table/bootstrap-table.min.css"/>
<!-- 角色系统分配 -->
<div class="modal fade" id="systemModal" tabindex="-1" role="dialog" aria-labelledby="systemLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<input type="hidden" id="assignIdRole" name="assignIdRole" />
				<div class='panel-heading'>
					<i class='icon-reorder icon-large'></i> 系统分配
				</div>
				<div class='panel-body text-center'>
					<ul id="systemTree" class="ztree" style="overflow: auto;"></ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" ng-click="assignSystems()">保存</button>
			</div>
		</div>
	</div>
</div>

<!-- 角色菜单分配 -->
<div class="modal fade" id="menuModal" tabindex="-1" role="dialog" aria-labelledby="menuLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<input type="hidden" id="assignIdRole" name="assignIdRole" />
				<div class='panel-heading'>
					<i class='icon-reorder icon-large'></i> 菜单分配
				</div>
				<div class='panel-body text-center'>
					<div class="col-lg-6">
						<div style="margin:0px;text-align: left;" class="page-header">
						  <h5 style="margin:0px;">系统列表</h5>
						</div>
						<ul id="assignedSystemTree" class="ztree" style="overflow: auto;"></ul>
					</div>
					<div class="col-lg-6">
						<div style="margin:0px;text-align: left;" class="page-header">
						  <h5 style="margin:0px;">菜单列表</h5>
						</div>
						<ul id="menuTree" class="ztree" style="overflow: auto;"></ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" ng-click="assignMenus()">保存</button>
			</div>
		</div>
	</div>
</div>

<!-- 角色列表 -->
<div ng-app="" id='content'>
	<div style="margin:0px;" class="page-header">
	  <h4>角色列表</h4>
	</div>
	<!-- 分组树 -->
	<div class="col-lg-3">
		<div class='panel-body text-center'>
			<ul id="groupTree" class="ztree" style="overflow: auto;"></ul>
		</div>
	</div>
	<div class="col-lg-9">
		<!-- 角色列表 -->
		<div style="margin:15px;margin-bottom:0px;" class='row'>
			<form class='form-horizontal'>
				<div class='col-md-3'>
					<div class="form-group">
						<input style="width:160px;cursor:pointer;" size="16" type="text" placeholder='开始时间' readonly class="form-control start-date">
					</div>
				</div>
				<div class='col-md-3'>
					<div class="form-group">
						<input style="width:160px;cursor:pointer;" size="16" type="text" placeholder='结束时间' readonly class="form-control end-date">
					</div>
				</div>
				<div class='col-md-6'>
					<div class='input-group'>
						<input type="text" class="form-control keyWord" name="keyWord" placeholder="角色名称">
					    <span class="input-group-btn">
					        <button class="btn btn-default" type="button" ng-click="searchRole()">查询</button>
					        <button class="btn btn-default" type="button" ng-click="addRole()">新增</button>
					    </span>
					</div>
				</div>
			</form>
		</div>
		<table id="roleTable" data-classes="table table-no-bordered"></table>
	</div>
</div>