<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.simple.dao.AttachmentDao">

    <!-- 获取附件信息 -->
    <select id="getAttachmentById" parameterType="string" resultType="AttachmentDO">
        select * from sim_attachment where id_attachment = #{idAttachment}
    </select>
    
    <!-- 附件列表查询 -->
    <select id="listAllAttachments" parameterType="string" resultType="AttachmentDO">
        select * from sim_attachment
    </select>
    
    <!-- 附件分页查询 -->
    <select id="pagingAttachments" parameterType="AttachmentDTO" resultType="AttachmentDO">
        select a.id_attachment,
	           a.attach_name,
	           a.attach_path,
	           a.attach_size,
	           a.media_type,
	           a.attach_source,
	           a.created_by,
	           a.created_date,
	           a.updated_by,
	           a.updated_date
          from sim_attachment a, sim_post_attachment pa, sim_user_post up
         where a.id_attachment = pa.id_attachment and pa.id_post = up.id_post
         <!-- 分组ID -->
         <if test="idUser != null">
            and up.id_user = #{idUser}
         </if>
         <!-- 关键字 -->
         <if test="keyWord != null">
            and role_name like #{keyWord})
         </if>
         <!-- 开始日期 -->
         <if test="startDate != null">
            and date_format(a.created_date,'20%y-%m-%d') >= #{startDate} 
         </if>
         <!-- 结束日期 -->
         <if test="endDate != null">
            and date_format(a.created_date,'20%y-%m-%d') >= #{endDate} 
         </if>
         <!-- 排序字段 -->
         <if test="sortName != null and sortOrder != null">
            order by #{sortName} #{sortOrder}
         </if>
    </select>
    
    <!-- 保存附件信息 -->
    <insert id="saveAttachment" parameterType="AttachmentDO">
    	<selectKey keyProperty="idAttachment" resultType="string" order="BEFORE">
           select replace(uuid(),'-','')
		</selectKey>
        insert into sim_attachment
          (id_attachment,
           attach_name,
           attach_path,
           attach_size,
           media_type,
           attach_source,
           created_by,
           created_date,
           updated_by,
           updated_date)
        values
          (#{idAttachment},
           #{attachName},
           #{attachPath},
           #{attachSize},
           #{mediaType},
           #{attachSource},
           #{createdBy},
           #{createdDate},
           #{updatedBy},
           #{updatedDate})
    </insert>
    
    <!-- 更新附件信息 -->
    <update id="updateAttachment" parameterType="AttachmentDO">
        update sim_attachment
		   set attach_name   = #{attachName},
		       attach_path   = #{attachPath},
		       attach_size   = #{attachSize},
		       media_type    = #{mediaType},
		       attach_source = #{attachSource},
		       created_by    = #{createdBy},
		       created_date  = #{createdDate},
		       updated_by    = #{updatedBy},
		       updated_date  = #{updatedDate}
		 where id_attachment = #{idAttachment}
    </update>
    
    <!-- 删除附件信息 -->
    <delete id="deleteAttachment" parameterType="string">
        delete from sim_attachment where id_attachment = #{idAttachment}
    </delete>
    
    <!-- 批量删除附件信息 -->
    <delete id="batchDeleteAttachments" parameterType="list">
        delete from sim_attachment where id_attachment in 
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
            #{item}  
        </foreach> 
    </delete>
    
</mapper>