<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.simple.dao.AttachmentDao">

    <!-- 获取附件信息 -->
    <select id="getAttachmentById" parameterType="string" resultType="attachmentDO">
        select * from sim_attachment where id_attachment = #{idAttachment}
    </select>
    
    <!-- 附件列表查询 -->
    <select id="listAllAttachments" parameterType="string" resultType="attachmentDO">
        select * from sim_attachment
    </select>
    
    <!-- 附件分页查询 -->
    <select id="pagingAttachments" parameterType="map" resultType="attachmentDO">
        select a.id_attachment,
        	   a.id_user,
	           a.attach_name,
	           a.attach_path,
	           a.attach_size,
	           a.media_type,
	           a.attach_source,
	           a.created_by,
	           a.created_date,
	           a.updated_by,
	           a.updated_date
          from sim_attachment a
         <where>
	         <!-- 分组ID -->
	         <if test='dateValue != null'>
	            date_format(a.created_date, '%Y%m') like concat(#{dateValue}, '%')
	         </if>
	         <!-- 关键字 -->
	         <if test='keyWord != null'>
	            and role_name like #{keyWord})
	         </if>
	         <!-- 开始日期 -->
	         <if test='startDate != null'>
	            and date_format(a.created_date,'20%y-%m-%d') >= #{startDate} 
	         </if>
	         <!-- 结束日期 -->
	         <if test='endDate != null'>
	            and date_format(a.created_date,'20%y-%m-%d') >= #{endDate} 
	         </if>
	         <!-- 排序字段 -->
	         <if test='sortName != null and sortOrder != null'>
	            order by #{sortName} #{sortOrder}
	         </if>
         </where>
    </select>
    
    <!-- 统计图片附件数量 -->
    <select id="countAttachmentsBasedFuzzy" parameterType="string" resultType="Integer">
    	select count(*)
		  from sim_attachment a
		 where date_format(a.created_date, '%Y%m%d') like
		       concat(#{createdDate}, '%')
		   and a.attach_source = #{attachSource}
    </select>
    
    <!-- 统计图片附件数量 -->
    <select id="countAttachmentsBasedAccurate" parameterType="list" resultType="Integer">
    	select count(*)
		  from sim_attachment a
		 where date_format(a.created_date, '%Y%m%d') in
		 <foreach collection="createdDates" index="index" item="item" open="(" separator="," close=")">  
	        #{item}  
	     </foreach>
		 	and a.attach_source = #{attachSource}
    </select>
    
    <!-- 统计视频附件数量 -->
    <select id="countAttachmentsByCreatedDateForVideo" parameterType="string" resultType="Integer">
    	select count(*)
		  from sim_attachment a
		 where date_format(a.created_date, '%Y%m%d') like
		       concat(#{accessDate}, '%')
		   and a.attach_source = 'video'
    </select>
    
    <!-- 统计视频附件数量 -->
    <select id="countAttachmentsInCreatedDatesForVideo" parameterType="list" resultType="Integer">
    	select count(*)
		  from sim_attachment a
		 where date_format(a.created_date, '%Y%m%d') in
		 <foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
	        #{item}  
	     </foreach>
	     	and a.attach_source = 'video'
    </select>
    
    <!-- 保存附件信息 -->
    <insert id="saveAttachment" parameterType="attachmentDO">
    	<selectKey keyProperty="idAttachment" resultType="string" order="BEFORE">
           select replace(uuid(),'-','')
		</selectKey>
        insert into sim_attachment
          (id_attachment,
           id_user,
           attach_name,
           attach_path,
           attach_size,
           media_type,
           attach_source,
           created_by,
           created_date,
           updated_by,
           updated_date)
        values
          (#{idAttachment},
           #{idUser},
           #{attachName},
           #{attachPath},
           #{attachSize},
           #{mediaType},
           #{attachSource},
           #{createdBy},
           sysdate(),
           #{updatedBy},
           sysdate())
    </insert>
    
    <!-- 更新附件信息 -->
    <update id="updateAttachment" parameterType="attachmentDO">
        update sim_attachment
		   set attach_name   = #{attachName},
		       attach_path   = #{attachPath},
		       attach_size   = #{attachSize},
		       media_type    = #{mediaType},
		       attach_source = #{attachSource},
		       updated_by    = #{updatedBy},
		       updated_date  = sysdate()
		 where id_attachment = #{idAttachment}
    </update>
    
    <!-- 删除附件信息 -->
    <delete id="deleteAttachment" parameterType="string">
        delete from sim_attachment where id_attachment = #{idAttachment}
    </delete>
    
    <!-- 批量删除附件信息 -->
    <delete id="batchDeleteAttachments" parameterType="list">
        delete from sim_attachment where id_attachment in 
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">  
            #{item}  
        </foreach> 
    </delete>
    
</mapper>